{% for vrf in data.vrfs %}
vrf {{ vrf.name }}
  description {{ vrf.description }}
  address-family ipv4 unicast
    export route-target
{%  for rt in vrf.route_export %}
{{ rt }}
{%  endfor %}
Import route-target
{%  for rt in vrf.route_import %}
{{ rt }}
{%  endfor %}
{% endfor %}
commit
